<header
  class='d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-3 mb-4 border-bottom'
>
  <div class='nav col-12 col-md-auto mb-2 justify-content-center mb-md-0'>
    <h1>
      App Two
    </h1>
  </div>

  <div class='col-md-3 text-end'>
    <a
      href='http://one.app.localhost:4200'
      target='_blank'
      rel='noopener noreferrer'
      class='btn btn-primary me-2'
    >
      Open App One
    </a>

    <button type='button' class='btn btn-warning' {{on 'click' this.clearToken}}>
      Clear cookie
    </button>
    <LinkTo @route='logout' class='btn btn-danger'>
      Logout
    </LinkTo>
  </div>
</header>